package page 

templ Form() {
	<form action="">
		<div class="grid p-6 border border-black rounded-3xl">
			<div>
				<div>Envianos un mensaje</div>
				<div>
					<input type="text" placeholder="Nombre Completo o Nombre de Empresa" name="" id=""/>
				</div>
			</div>
			<div>
				<input type="text" placeholder="DNI / RUC / C. EXTRANJERÍA" name="" id=""/>
			</div>
			<div>
				<input type="text" placeholder="Celular" name="" id=""/>
			</div>
			<div>
				<input type="text" placeholder="Su correo" name="" id=""/>
			</div>
			<div>
				<textarea placeholder="Tu consulta" name="" id=""></textarea>
			</div>
			<div>
				<button type="submit">Enviar</button>
			</div>
		</div>
	</form>
}
