package page

import "alc/view/layout"

templ Index() {
	@layout.BasePage("Corporación JR Del Perú") {
		<main>
			<div>
				<my-carousel class="h-[calc(100dvh-8rem)] lg:h-[calc(100dvh-9.5rem)] border-b border-black" controls indicator>
					for _, s := range []string{"1", "2", "3"} {
						<div>
							<img class="relative object-cover w-full h-full opacity-10" src="/static/img/electronic.png" alt="Fondo"/>
							<section class="absolute max-w-7xl mx-auto inset-x-0 inset-y-0 px-4 py-16">
								<div class="h-full grid items-center gap-6 lg:grid-cols-5">
									<div class="space-y-6 lg:space-y-9 lg:col-span-3">
										<h2 class="text-4xl uppercase font-bold lg:text-5xl">{ "Promoción " + s }</h2>
										<hr class="w-24 border border-t-[3px] border-logored lg:w-48"/>
										<p class="text-lg lg:text-2xl">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper,
											dui id molestie pharetra, urna nulla faucibus quam, ac finibus dui diam sagittis
											ante. Proin nibh ipsum, tempus vel neque sed, euismod gravida risus. Nam at enim neque.
											Proin ullamcorper congue nulla, eu bibendum sem feugiat vel.
										</p>
										<svg class="relative w-16 h-16 -left-5 text-logored" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
											<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"></path>
										</svg>
									</div>
									<div class="hidden relative -top-10 lg:col-span-2 lg:block">
										<img src="/static/img/dentist.png" alt="Test"/>
									</div>
								</div>
							</section>
						</div>
					}
				</my-carousel>
				<!-- Servicios -->
				<section id="servicios">
					<div class="px-4 py-16 max-w-7xl mx-auto lg:py-24">
						<h2 class="text-center font-bold text-3xl lg:text-4xl">
							Bienvenidos ... Nuestros Servicios y Productos
						</h2>
						<div class="flex flex-row justify-center flex-wrap gap-12 mt-12 lg:flex-row lg:gap-16 lg:mt-16">
							<a class="border border-black w-full aspect-square max-w-80" href="/servicio/vidrios">
								<div class="h-4/5">
									<img class="object-cover w-full h-full" src="/static/img/vidrios.webp" alt="vidrios"/>
								</div>
								<div class="flex justify-center items-center h-1/5 border-t border-black">
									<div class="text-center font-semibold text-2xl">
										VIDRIOS
									</div>
								</div>
							</a>
							<a class="border border-black w-full aspect-square max-w-80" href="/servicio/aluminios">
								<div class="h-4/5">
									<img class="object-cover w-full h-full" src="/static/img/aluminios.webp" alt="vidrios"/>
								</div>
								<div class="flex justify-center items-center h-1/5 border-t border-black">
									<div class="text-center font-semibold text-2xl">
										ALUMINIOS
									</div>
								</div>
							</a>
							<a class="border border-black w-full aspect-square max-w-80" href="/servicio/upvc">
								<div class="h-4/5">
									<img class="object-cover w-full h-full" src="/static/img/pvc.webp" alt="vidrios"/>
								</div>
								<div class="flex justify-center items-center h-1/5 border-t border-black">
									<div class="text-center font-semibold text-2xl">
										U PVC
									</div>
								</div>
							</a>
						</div>
					</div>
				</section>
				<!-- La empresa -->
				<section id="nosotros">
					<div class="px-4 py-16 max-w-7xl mx-auto lg:py-24">
						<div class="flex flex-col items-center gap-12 lg:text-lg lg:flex-row lg:gap-16">
							<div class="flex-1">
								<p>
									En Corporación JR del Perú S.A.C., nos especializamos en desarrollar y suministrar
									soluciones integrales para la industria de la construcción. Con una sólida
									trayectoria en el sector, ofrecemos sistemas en vidrio, aluminio y uPVC, diseñados
									para optimizar procesos, mejorar la eficiencia y garantizar la calidad en cada proyecto.
								</p>
								<br/>
								<p>
									Encuentra con nosotros: 
								</p>
								<br/>
								<ul>
									<li>📌 Detalles técnicos actualizados para una planificación precisa.</li>
									<li>📂 Fichas técnicas completas con información detallada.</li>
									<li>🏗 Asesoría especializada para proyectos en los sectores público y privado.</li>
								</ul>
							</div>
							<div>
								<div class="w-full max-w-[30rem] aspect-square">
									<img
										class="object-cover w-full h-full"
										src="/static/img/placeholder.webp"
										alt="La empresa"
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-cloud">
						<div class="px-4 py-16 max-w-7xl mx-auto lg:py-24">
							<div class="flex flex-col items-center gap-12 lg:flex-row lg:gap-16">
								<div class="grid grid-cols-7 gap-5 items-center max-w-96">
									<div class="col-span-3 aspect-square">
										<img
											class="object-cover w-full h-full"
											src="/static/img/placeholder.webp"
											alt="La empresa"
										/>
									</div>
									<div class="col-span-4">
										<h3 class="font-bold">Experiencia y confianza:</h3>
										<p>
											Contamos con un equipo
											altamente calificado y años
											de trayectoria en la
											industria de la construcción.
										</p>
									</div>
								</div>
								<div class="grid grid-cols-7 gap-5 items-center max-w-96">
									<div class="col-span-3 aspect-square">
										<img
											class="object-cover w-full h-full"
											src="/static/img/placeholder.webp"
											alt="La empresa"
										/>
									</div>
									<div class="col-span-4">
										<h3 class="font-bold">Calidad y precisión:</h3>
										<p>
											Ofrecemos vidrios, aluminio
											y uPVC con los más altos
											estándares para garantizar
											durabilidad y eficiencia.
										</p>
									</div>
								</div>
								<div class="grid grid-cols-7 gap-5 items-center max-w-96">
									<div class="col-span-3 aspect-square">
										<img
											class="object-cover w-full h-full"
											src="/static/img/placeholder.webp"
											alt="La empresa"
										/>
									</div>
									<div class="col-span-4">
										<h3 class="font-bold">Atención integral:</h3>
										<p>
											Brindamos asesoría,
											manufactura e instalación
											con un servicio
											personalizado y eficiente.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section id="galeria">
					<div class="px-4 py-16 max-w-7xl mx-auto lg:py-24">
						<h2 class="text-center font-bold text-3xl lg:text-4xl">
							Obras realizadas por JR DEL PERÚ
						</h2>
						<div class="flex flex-row justify-center flex-wrap gap-12 mt-12 lg:flex-row lg:mt-16">
							<div class="border border-black aspect-video max-w-96">
								<img class="object-cover w-full h-full" src="/static/img/placeholder.webp" alt="vidrios"/>
							</div>
							<div class="border border-black aspect-video max-w-96">
								<img class="object-cover w-full h-full" src="/static/img/placeholder.webp" alt="vidrios"/>
							</div>
							<div class="border border-black aspect-video max-w-96">
								<img class="object-cover w-full h-full" src="/static/img/placeholder.webp" alt="vidrios"/>
							</div>
						</div>
					</div>
				</section>
				<!-- Formulario -->
				<div class="px-4 py-16 max-w-7xl mx-auto lg:py-24">
					@Form()
				</div>
			</div>
		</main>
	}
}
