# Heaviest thing on earth
node_modules/

# Build artifacts
build/
tmp/
assets/static/css/tailwind.css
assets/static/js/main.js
view/**/*_templ.go
repository/

# Repository
uploads/

# Large files
assets/static/pdf/BROCHURE JR DEL PERÚ PAGINA WEB.pdf

# Claude files
.claude/

